# Logs
logs
**/logs
*.log
**/*.log
npm-debug.log*
**/npm-debug.log*
yarn-debug.log*
**/yarn-debug.log*
yarn-error.log*
**/yarn-error.log*
pnpm-debug.log*
**/pnpm-debug.log*
lerna-debug.log*
**/lerna-debug.log*

node_modules/**
**/node_modules/

dist
**/dist
dist-ssr
**/dist-ssr
*.local
**/*.local
*.ignore
**/*.ignore

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
